.navbar ,.navbar-default{
	background-color: black;
}
.navbar-brand h1{
	text-transform: uppercase;
	text align-content: center;
	font-family: serif,sans-serif;
	color: white;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;

}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#btn{
	
	background-color: white;
}
#nav-list{
	background-color: white;
	text-align: center;
	font-weight: bold;
	color: black;

}
#pg h2{
	margin-bottom: 30px;
	text-align: center;
}
#pg{
	background-color: gray;
	margin: 30px;
	padding: 30px;

}
#menu{
	text-align: center;
}
