*{
    box-sizing:border-box ;
}


body{
    margin: 0;
    padding: 0;
    width: 100%;
}
h1{
    text-align: center;
}

/*For big displays*/
@media (min-width: 992px){
    .col-lg-4{
        
        position: relative;
        width: 33%;
        float: left;
         padding: 20px;
         

    }
    .col-lg-4 > p{
    
        padding: 40px;
        border: solid black;
        background-color: gray;
    }
    
    .col-lg-4>h2{
        position: absolute;
        padding: 0px;
        right: 30px;
        border: solid black;
        background-color: red;
        


    }

}

/*for tablet*/

@media (min-width:768px ) and (max-width: 991px){

    .col-md-6{
       position: relative;
        width: 50%;
        padding: 20px;
        float: left;
    }
    .col-md-6 > p{
        padding: 40px;
        border: solid black;
        background-color: gray;
        
    }
    .col-md-6 > h2{
        position: absolute;
        padding: 0px;
        right: 30px;
        border: solid black;
        background-color: red;
        


    }
    
    
    .col2-md-12{
        
       position: relative;
        width: 100%;
        padding: 20px;
        clear: left;

        margin-top: 20px;
    }
    .col2-md-12 > p{
        padding: 40px;
        border: solid black;
        background-color: gray;
        
    }
    


    
     .col2-md-12 > h2{
        position: absolute;
        padding: 0px;
        right: 30px;
        border: solid black;
        background-color: red;
        }


   

}
/*for small display*/
@media (max-width: 767px){
    .col-sm-12{
        position: relative;
        width: 100%;
        padding: 25px;

    }
    .col-sm-12 > p{
        padding: 30px;
        border: solid black;
        background-color: gray;

    }
    .col-sm-12 > h2{
        position: absolute;
        padding: 0px;
        right: 30px;
        border: solid black;
        background-color: red;
    }

}